@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-display: swap;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-header-color: #5e61b0;
  --secondary-header-color: #7b8cae;
  --backup-color: #a3a5dd;
  --link-color: #1e345e;
  --paragraph-color: #b0b5bf;
  --darker-main-color: #2d3080;
  --darker-secondary-color: #55627b;
}

h1 {
  color: var(--main-header-color);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-header-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

input {
  border: none;
  outline: none;
  width: 100%;
  height: 45px;
  background: #dae3e3;
  border-radius: 15px;
  padding: 20px;
  font-size: 95%;
  transition: 0.3s;
}

input:focus {
  background: #e5ebeb;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  padding: 5%;
  background: var(--secondary-header-color);
  border-radius: 29px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10%;
  border: none;
  outline: none;
  font-size: 90%;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: rgba(18, 21, 21, 0.543);
}

button svg {
  height: 16px;
  width: 16px;
  margin: 0 6px;
}

button.main {
  background: var(--main-header-color);
  font-weight: 700;
}

button.main:hover {
  background: var(--darker-main-color);
}

button.small {
  padding: 10px;
  margin: 10px 0;
}

button.full-width {
  width: 100%;
}

div.toast {
  position: fixed;
  top: 5%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--paragraph-color);
  font-weight: bold;
  font-size: 100%;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 4px 8px 20px 0 #c4c4c4aa;
  z-index: 200;
}

a.button-like {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 5%;
  background: var(--secondary-header-color);
  border-radius: 29px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10%;
  border: none;
  outline: none;
  font-size: 90%;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

a.button-like:hover {
  background: var(--darker-secondary-color);
}

a.button-like svg {
  margin: 0 10px;
}

p {
  color: var(--paragraph-color);
}

ul {
  list-style: none;
  padding: 20px;
}

ul li::before {
  content: "\2022";
  color: var(--secondary-header-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

code {
  background: var(--backup-color);
  color: var(--darker-main-color);
  padding: 3px;
  margin: 2px;
}

code.design {
  min-height: 100px;
  width: 400px;
  border-radius: 20px;
  background-color: var(--backup-color);
  color: #fff;
  margin: 20px 0;
  padding: 30px;
  overflow-wrap: break-word;
  transition: 0.3s;
}
