main {
    padding: 20px;
}

main div.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 29px;
    width: 80vw;
}

main div.main-header h1 {
    font-weight: 700;
    text-align: center;
    margin: 8px 0;
    font-size: 300%;
}

main div.main-header h3 {
    font-weight: 500;
    color: #3C4444;
    text-align: center;
    margin: 8px 0;
}