nav#main-nav {
  position: fixed;
  top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 57px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
}

nav#main-nav a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #c5c5c5;
  border-radius: 29px;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 33px;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 700px) {
  nav#main-nav {
    min-height: 40px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  nav#main-nav a {
    margin: 0 5px;
    padding: 10px;
    font-size: 100%;
  }

  nav#main-nav a:nth-child(4) {
    display: none;
  }
}

nav#main-nav a svg {
  height: 18px;
  width: 18px;
  margin: 0 3px;
}

nav#main-nav a:hover {
  background: #12151550;
  color: #121515;
}

nav#main-nav a.active {
  background: #121515;
  box-shadow: 0px 4px 11px 2px rgba(18, 21, 21, 0.15);
  border-radius: 29px;
  color: #fff;
  font-weight: 700;
}
